.root-container {
  background-image: url("../../../assets/images/background.jpg");
  height: 100%;
  background-size: contain;
  background-repeat: round;
  display: grid;
  place-items: center;

  .login-dialog {
    min-height: 300px;
    background-color: skyblue;
    min-width: 500px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
  }
}
