.root-container {
  background-image: url("../../../assets/images/background.jpg");
  background-size: contain;
  background-repeat: round;
  display: grid;

  .logo-container {
    display: flex;
    margin: auto;
    backdrop-filter: blur(2px);
    opacity: 0.9;

    .logo {
      height: 400px;
      width: 400px;
      display: flex;
      margin: auto;
    }
  }

  .main-container {
    display: flex;
    margin: auto;

    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      flex-flow: column nowrap;
      padding: 12px;
      height: 300px;
      width: 500px;
      background: aliceblue;
      justify-content: center;
      align-items: center;
      border-radius: 22px;
    }
  }
}
